---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Example Inc"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":62515,"companyId":117978648,"isDeleted":false,"properties":{"name":{"value":"Example
        Inc","timestamp":1453745703329,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Example
        Inc","timestamp":1453745703329,"source":"API","sourceVid":[]}]},"createdate":{"value":"1453745703329","timestamp":1453745703329,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1453745703329","timestamp":1453745703329,"source":"API","sourceVid":[]}]}}}'
  recorded_at: Mon, 25 Jan 2016 18:15:03 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/117978648?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":62515,"companyId":117978648,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1453745703329","timestamp":1453745703329,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1453745703329","timestamp":1453745703329,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"Example
        Inc","timestamp":1453745703329,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Example
        Inc","timestamp":1453745703329,"source":"API","sourceVid":[]}]},"createdate":{"value":"1453745703329","timestamp":1453745703329,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1453745703329","timestamp":1453745703329,"source":"API","sourceVid":[]}]}}}'
  recorded_at: Mon, 25 Jan 2016 18:15:03 GMT
recorded_with: VCR 2.9.3
