---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"A company name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":62515,"companyId":98828897,"isDeleted":false,"properties":{"name":{"value":"A
        company name","timestamp":1453745659899,"source":"API","sourceId":null,"versions":[{"name":"name","value":"A
        company name","timestamp":1453745659899,"source":"API","sourceVid":[]}]},"createdate":{"value":"1453745659899","timestamp":1453745659899,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1453745659899","timestamp":1453745659899,"source":"API","sourceVid":[]}]}}}'
  recorded_at: Mon, 25 Jan 2016 18:14:19 GMT
recorded_with: VCR 2.9.3
