---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/recently_updated/contacts/recent?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"addedAt":1453918913958,"vid":597124,"canonical-vid":597124,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mMIaJiKh02u1lr_hrHqnOX12QuSTSAjYBYHetWl_afcVgqS6vOltlsDIafAtH4As1WEJtdMZwjz2o4l4P22jcyw8trDKMRaIw-deDhpWBOyh4ng3ZyFfu0r7lbwtfabrEbr-X29","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mMIaJiKh02u1lr_hrHqnOX12QuSTSAjYBYHetWl_afcVgqS6vOltlsDIafAtH4As1WEJtdMZwjz2o4l4P22jcyw8trDKMRaIw-deDhpWBOyh4ng3ZyFfu0r7lbwtfabrEbr-X29/","properties":{"firstname":{"value":""},"lastmodifieddate":{"value":"1453918913958"},"company":{"value":""},"lastname":{"value":""}},"form-submissions":[{"conversion-id":"33cb775d-4a85-420a-8db6-0912a7b98db0","timestamp":1453530381045,"form-id":"b2d4549e-22f1-4fc2-8bf2-b52adfa95080","portal-id":62515,"page-url":"http://localhost:63342/mysite/index.html","page-title":"PankajIT,
        Frontend Developer","title":"test subscribe list","meta-data":[]}],"identity-profiles":[{"vid":597124,"saved-at-timestamp":1453530381409,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"jhgjh@gmail.com","timestamp":1453530381045},{"type":"LEAD_GUID","value":"d73a8209-77e5-46d5-8d1e-683978e96467","timestamp":1453530381403}]}],"merge-audits":[]},{"addedAt":1453918892498,"vid":597074,"canonical-vid":597074,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNi-qJygu2VB5XaXCsmIlDAaU8VlItLA36JjtDpJt1DoKCXVAwtJlNbDCfP94O4oJZkPM4d8DnSRRkrliIGH15LErE467fST9O1OKFkWDnABYNQSqiwUeIg8xVZzxVYsBnKO-6v","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mNi-qJygu2VB5XaXCsmIlDAaU8VlItLA36JjtDpJt1DoKCXVAwtJlNbDCfP94O4oJZkPM4d8DnSRRkrliIGH15LErE467fST9O1OKFkWDnABYNQSqiwUeIg8xVZzxVYsBnKO-6v/","pro[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/batch?hapikey=demo
    body:
      encoding: UTF-8
      string: '[{"email":"233c52486170693a3a43@example.com","properties":[{"property":"phone","value":"1234567890"}]}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 27 Jan 2016 18:35:16 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/233c52486170693a3a43@example.com/profile?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"vid":633074,"canonical-vid":633074,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mOnbKN4p34ZtDtPuGExc2orTPoe26N0S-w6jjgIRfniHI1Mpziu5F0U3dHl86HZ6FervgROB3uNqo4mP9t33hxzwiHSfScOJEMTX4n904igRbDngozkSzcHPIJsInBNTn92mNKS","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mOnbKN4p34ZtDtPuGExc2orTPoe26N0S-w6jjgIRfniHI1Mpziu5F0U3dHl86HZ6FervgROB3uNqo4mP9t33hxzwiHSfScOJEMTX4n904igRbDngozkSzcHPIJsInBNTn92mNKS/","properties":{"phone":{"value":"1234567890","versions":[{"value":"1234567890","source-type":"BATCH_UPDATE","source-id":null,"source-label":null,"timestamp":1453919715970,"selected":false}]},"lastmodifieddate":{"value":"1453919716549","versions":[{"value":"1453919716549","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1453919716549,"selected":false}]},"num_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"num_unique_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"createdate":{"value":"1453919715971","versions":[{"value":"1453919715971","source-type":"BATCH_UPDATE","source-id":"auditId=null","source-label":null,"timestamp":1453919715971,"selected":false}]},"email":{"value":"233c52486170693a3a43@example.com","versions":[{"value":"233c52486170693a3a43@example.com","source-type":"BATCH_UPDATE","source-id":"auditId=null","source-label":null,"timestamp":1453919715971,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":633074,"saved-at-timestamp":1453919716368,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"233c52486170693a3a43@example.com","timestamp":1453919715971},{"type":"LEAD_GUID","value":"b4406ddc-7460-4ef4-96df-230604343fec","timestamp":1453919716362}]}],"merge-audits":[]}'
  recorded_at: Wed, 27 Jan 2016 18:35:16 GMT
recorded_with: VCR 2.9.3
